body {
	font-family: 'Montserrat';
	font-weight: 400;
	line-height: 1.5;
	}

.wrapper {
	border-radius: 0px 0px 12px 12px;
	background: $gradient-supersoft;
		}

.container {
	// від 0 до бескінечності
	padding: 0 30px;
	@include vieport-sm {
		padding: 0 15px;
	}

	@include vieport-md {
		// від 768 до бескінечності
		max-width: 708px;
		margin: 0 auto;
	}

	@include vieport-lg {
		// від 1024 до бескінечності
		max-width: 964px;
	}

	@include vieport-xl {
		// від 1440 до бескінечності
		max-width: 1380px;
	}

	@include vieport-xxl {
		// від 1920 до бескінечності
		max-width: 1660px;
	}
}

.dotted {
	display: none;

	@include vieport-md {
		display: inline-block;
		width: 6px;
		height: 6px;
		border-radius: $radius-rounded;
		background: $separator-color;

		&--gray {
			background: $text-color;
		}
	}
}
.hidden{
	position: absolute;
	z-index: -10;
	opacity: 0;
	width: 0;
	height: 0;
}
